/*
* SIGN UP
*/

.topbar{
  height: 50px;
}

.topbar .navbar-right li {
    float: right;
    margin-top: 10px;
}

.topbar .logo{
    width: 100px;
    position: absolute;
}

.signup h1{
  font-size: 45px;
}


.signup .input-group {
    width: 100%;
    margin-left: 0px;
}

.signupImage{
  height: 100vh;
}

.signup .row {
     margin-right: 0px;
	 margin-left: 0px;
}

.chosen-container {

    width: 100% !important;
}