body{
 font-family: 'Roboto', sans-serif;
}

a{
  color: #765b36;
}

/*
* NAVBAR
*/
.navbar-right{
  margin-right: 30px;
  margin-top: 10px;
}

.navbar-right li{
    margin-top: 20px;
    margin-left: 5px;
}

.navbar {
    margin-bottom: 0px;
}

.navMentor{
  background: #fd9727;
  color: white;
}

.navbar-default {
    background-color: #FFFFFF;
    border-color: #e7e7e7;
    height: 100px;
}

.container-fluid {
    background: white;
    position: absolute;
    width: 100%;
    z-index: 20;
}



/*
* HEADER
*/
.jumbotron{
  margin-bottom: 0px;
  padding-top: 0px;
  height: 400px;
  background: none;
}


.homepage-hero-module{
    position: absolute;
    z-index: -2;
}

.jumbotron .textOverlay{
  color: white;
  position: absolute;
  top: 200px;
}

video{
  width: 100%;
  opacity: .3;
  
}

.jumbotron h1{
      font-size: 36px;
      color: #444444;
}

.jumbotron p{
    font-size: 13px;
    line-height: 22px;
    color: #535353;
}

.input-group{  
    width: 100%;
    margin-left: 10px;
}

@media (max-width: 700px) {
	.jumbotron .textOverlay{
	  top: 100px;
	}
}

/*
* SEARCH RESULTS
*/ 
.searchField{ 
    background: #eee;
    width: 100%;
}

.searchField h3 {
    margin-top: 0px;
}

/*
* TOPICS & MENTORS
*/
.topics {
    background: white;
    width: 100%;
    padding: 50px;
    padding-top: 0px;
}

.topics h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.topics h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
}

.topics h2{
  font-size: 17px;
  margin-top: 40px;
}

.mentors .lang-sm {
    top: 20px;
    right: 20px;
}

.mentors img{
    width: 50px;
    border-radius: 100px;
}

.mentors h3{
   font-size: 18px;
   margin-top: 10px;
   margin-bottom: 0px;
}

.mentors p{
  font-size: 11px;
}

table tr:first-child td {
    border-top: 0;
}


.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    white-space: normal;
}


.footer{ margin-top:80px; padding:40px 0;
background: #F2F2F2;
box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.09);
padding: 50px;
    z-index: -1
}

.footer img{
	padding: 10px;
}

.ui-chatbox-titlebar {
    padding: 3px;
    height: 20px;
    cursor: pointer;
    font-size: 10px;
}

