
/*
* TOPIC
*/ 

.jumbotron{
  height: auto;
    background: #f2ebd9;
}

.openQuestions .header h1{
  float: left; 
  margin-right: 50px;
}

.openQuestions .header h3{
  float: left; 
  margin-top: 28px;
}

.openQuestions .header input{
    display: none;
}

.openQuestions p{
      font-size: 15px;
}

.openQuestions .chat{
  margin-top: 30px;
}

table tr:first-child td {
    border-top: 0;
}


.header,.mentors{
  margin-top: 40px;
}

