<!DOCTYPE html>
<html>
<head>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

      <link rel="stylesheet" href="http://usrz.github.io/bootstrap-languages/languages.min.css"/>
  
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  
  <link href="{{ url_for('static', filename='style/style.css')}}" rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="http://magma.cs.uiuc.edu/wenpu1/css/ui-lightness/jquery-ui-1.8.2.custom.css" type="text/css" media="screen"/>
  <link type="text/css" href="http://magma.cs.uiuc.edu/wenpu1/css/jquery.ui.chatbox.css" rel="stylesheet"/>
  
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Dots - Home</title>
</head>
<body>



  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        
        <img src="{{ url_for('static', filename='img/logo.png')}}" width="101px" class="logo">
        
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
         <li class="dropdown">
          
                          <div class="btn-group dropdown">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="lang-sm lang-lbl-full" lang="en"></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><span class="lang-sm lang-lbl-full" lang="ar"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="be"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="bg"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="cs"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="da"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="de"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="el"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="en"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="es"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="et"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="fi"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="fr"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="ga"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="hi"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="hr"></span></li>
  </ul>
                            
        </li>
           
        
        <li>
          
          <a href="/signup" style=" padding: 0;">
           <button type="button" class="navMentor btn btn-default">
              BECOME A MENTOR
            </button>
          </a>
		  
        </li>
        <li>
         <button type="button" class="navLogin btn btn-default">
              LOGIN
            </button>          
        </li>  
        
       
      </ul>
      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
  

  
  
<div class="jumbotron">
  
  <div class="container textOverlay" onclick="StartCountingKeys()">
        <div class='col-md-9'>
        <h1>Welcome to Dots</h1>
        <p >Are you new to the UK? Do you want to get tips on topics surrounding healthcare and more? Get advice from one of our mentors! <br>You can find mentors which speak your language, live in your area and have experience that is relevant to you. <br>You can chat with a mentor, or post a question that will be answered when a mentor becomes available.<br> Alternatively, you can browse our repository on already answered questions below.</p>
       </div>   
          <!-- Search bar -->
  <div class='col-md-12'>
        <div class="row">
     
       
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for">
  

  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
    
     <p> 
	   For example:  <a href="">I need to see a dentist</a>, <a href="">Can I get help with healthcare costs?</a>, <a href="">Is there a Greek supermarket in Holloway?</a></p>
      </div>
    </div>
  
  
  <!------------------------>
  
  
  
  <div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="http://mrmoonhead.com.s3.amazonaws.com/nhs_hackathon/Big-City-Life/Mp4/Big-City-Life.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="http://mrmoonhead.com.s3.amazonaws.com/nhs_hackathon/Big-City-Life/Webm/Big-City-Life.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="http://mrmoonhead.com.s3.amazonaws.com/nhs_hackathon/Big-City-Life/Snapshots/Big-City-Life.jpg" alt="">
        </div>
    </div>
</div>
  
    <!------------------------>
  
  
  
  
      
  </div>
  
  

  
  
  <!-- Search results -->
  <div class="container searchField" style="display: none">
    <hgroup class="mb20">
		<h2 class="lead"><strong class="numberResults text-danger">3</strong> results were found for the search for <strong class="text-danger searchResult">Lorem</strong></h2>								
	</hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
		<article class="searchResult1 search-result row">

			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="meta-search">
					<i class="glyphicon glyphicon-calendar"></i> <span>02/15/2015</span><br>
					<i class="glyphicon glyphicon-tags"></i> <span>&nbsp;Admin, Medical</span>
				</ul>
			</div>
          
			<div class="col-xs-12 col-sm-12 col-md-10 excerpet">
				<h3><a href="#" title="">What does proof of address mean?</a></h3>
				<p>When you register with a GP you might be asked to bring some documents to proof your identity. However, registration and appointments should not be withheld from you on the basis that you don’t have the necessary proof of address or personal identification at hand. It is not considered a reasonable ground to refuse registration.</p>						
                <br>
			</div>
			<span class="clearfix borda"></span>
		</article>

        <article class="searchResult2  search-result row">

			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="meta-search">
					<i class="glyphicon glyphicon-calendar"></i> <span>11/13/2014</span></br>
					<i class="glyphicon glyphicon-tags"></i> <span>&nbsp;Medical</span></br>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-10">
				<h3><a href="#" title="">What does a GP do?</a></h3>
				<p>GPs deal with a whole range of health problems. They also provide health education, offer advice on smoking and diet, run clinics, give vaccinations and carry out simple surgical operations. If your GP cannot deal with a problem, then you’ll usually be referred to a hospital for tests, treatment, or to see a consultant with specialist knowledge.</p>						
                <br>
			</div>
			<span class="clearfix borda"></span>
		</article>

		<article class="searchResult3 search-result row">
			
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="meta-search">
					<i class="glyphicon glyphicon-calendar"></i> <span>01/11/2014</span></br>
					<i class="glyphicon glyphicon-tags"></i> <span>&nbsp;Medical</span></br>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-10">
				<h3><a href="/question" title="">What does GP stand for?</a></h3>
				<p>GP stands for General Practisioner and is the doctor that you will register with. GPs usually work in practices as part of a team, which includes nurses, healthcare assistants, practice managers, receptionists and other staff. You have the legal right to choose a GP practice that best suits your needs.</p>
              
                <br>
			</div>
			<span class="clearfix border"></span>
		</article>			

	</section>
</div>
  
  
  
  
  
  
  

<div class="container topics">
    <div class="row">

     
       <!-- Topics -->
      <div class="col-md-4">
        <h1>Recent topics &nbsp; <a href="/topic" style="font-size: 15px">All Topics</a></h1>
        
        
        <h2>How healthcare works</h2>
        
                   
						<ul>
						<a><li>How does the healthcare system work in the UK?</li></a>
						
						<a><li>My rights as a visitor, What do to in emergency</li></a>
							
						<a><li>What is a GP?</li></a>
							
					    <a><li>Registering with a GP</li></a>
						
						<a><li>What is the A&E and when should I use it?</li></a>
						
						<a><li> Hospital visits </li></a>
					
				
						
					</a>
        
        <a href="">more</a>
        </ul>
       
       <h2>General immigaration information</h2>
       
                  
					<ul>
					<a><li>Asylum procedures & visa application</li></a>
					
					<a><li>Housing</li></a>
						
					<a><li>Bank account</li></a>
						
				    <a><li>Language courses</li></a>
					
					<a><li>Driving licences</li></a>
					
					<a><li>Education & work</li></a>
				
			
					
				</a>
       
       <a href="">more</a>
       </ul>
      </div>
      
      <div class="col-md-4">
        <h1><br></h1>
        
        
        <h2>How healthcare works</h2>
        
                   
						<ul>
						<a><li>Childcare and parenting</li></a>
						
						<a><li>Support for mental health problems</li></a>
							
						<a><li>Pregnancy</li></a>
							
					    <a><li>Disabled people</li></a>
						
						<a><li>Mental health</li></a>
						
						<a><li> Hospital visits </li></a>
					
				
						
					</a>
        
        <a href="">more</a>
        </ul>
       
       <h2>General immigaration information</h2>
       
                  
					<ul>
					<a><li>Getting around</li></a>
					
					<a><li>Social</li></a>
						
					<a><li>Local events</li></a>
						
				    <a><li>Shopping</li></a>
					
					<a><li>Food & diet</li></a>
					
					<a><li>Money saving </li></a>
				
			
					
				</a>
       
       <a href="">more</a>
       </ul>
      </div>
	  
	  
      
  <!-- Identify mentor (by language with flag) -->
        <div class="col-md-4 mentors">
          <h1>Mentors Online</h1>
          
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <tbody>
                                <tr>
                                    <td>
                                      <div>
                                        <img src="http://www.nesta.org.uk/sites/default/files/glen.jpeg" width="15px">
                                        <span class="lang-sm" lang="es"></span></div>
                                    </td>
                                    <td>
                                      <a id="caleb_sanchez"><h3 href="#" class="user-link">Caleb Sanchez</h3></a>
                                      <p>Spain, Taxes, Healthcare, Driving</p>
                                    </td>
                                </tr>
                              
                                <tr>
                                    <td>
                                      <div>
                                        <img src="http://nhsnavigationhack.co.uk/wp-content/uploads/2015/12/Sarah-Cowley1.jpg" alt="">
                                        <span class="lang-sm" lang="fr"></span></div>
                                    </td>
                                    <td>
										
						
										
                                      <a id="korinn_pinakoulaki"><h3 href="#" class="user-link">Korinna Pinakoulaki</h3></a>
                                      <p>French, English, Getting around, Self-employment</p>
                                    </td>
                                </tr>
                              
                              <tr>
                                    <td>
                                      <div>
                                        <img src="http://nhsnavigationhack.co.uk/wp-content/uploads/2015/12/Eraaj.jpg" alt="">
                                        <span class="lang-sm" lang="ga"></span></div>
                                    </td>
                                    <td>
										
					
										
                                      <a id="musa_ahmad_urdu"><h3 href="#" class="user-link">Musa Ahmad</h3></a>
                                      <p>Irish, English, Immigration, Finance</p>
                                    </td>
                                </tr>
                              <tr>
                                    <td>
                                      <div>
                                        <img src="http://nhsnavigationhack.co.uk/wp-content/uploads/2015/12/kunle1-1.png" alt="">
                                        <span class="lang-sm" lang="en"></span></div>
                                    </td>
                                    <td>
										
                                      <a id="zach_jones"><h3 href="#" class="user-link">Zach Jones</h3></a>
                                      <p>USA, NHS, Technology</p>
                                    </td>
                                </tr>
                                <tr>
                                      <td>
                                        <div>
                                          <img src="http://nhsnavigationhack.co.uk/wp-content/uploads/2015/12/Dr-Patricia-Wilkie-202x303-1.jpg" alt="">
                                          <span class="lang-sm" lang="uk"></span></div>
                                      </td>
                                      <td>
                                        <a><h3 href="#" class="user-link">Anna Adams</h3></a>
                                        <p>Ukraine, Belarus, Schools, Education</p>
                                      </td>
                                  </tr>
                              
                              
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
  
  <!--footer-->
    <div class="container-fluid footer">
      <div class="row">
            <div class="col-md-4">
              <h2>Friendly links</h2>
              <p><a>The bike project</a><br />
                <a>Refugee Action</a><br />
                <a>Webhosting discounts</a><br />
                <a>Free online univercity for refugees</a><br />
              </p>
            </div>
            <div class="col-md-4">
              <h2>Supported by</h2>
              <p>
                <a><img src="{{ url_for('static', filename='img/nhs.png')}}" /></a><br />
    <a><img src="{{ url_for('static', filename='img/patas.png')}}" /></a><br />
      <a><img src="{{ url_for('static', filename='img/healthdep.png')}}" /></a><br />
              </p>
            </div>
            <div class="col-md-4">
              <h2>Social</h2>
              <p><a>Follow us on twitter</a><br />
                <a>Find us on facebook</a><br />
              </p>
            </div>
          </div>
    </div>
    <!--footer ends-->
  
  
  <div id="chat_boxes">
             <!-- add chat divs to this div -->
             <div id="chat_div0">
             </div>

             <div id="chat_div1">
             </div>

             <div id="chat_div2">
             </div>

             <div id="chat_div3">
             </div>
         </div>
		 
 </body> 
  
  <!-- Become a mentor -->




	   
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/index.js')}}"></script>
  <script type="text/javascript" src="http://magma.cs.uiuc.edu/wenpu1/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="http://magma.cs.uiuc.edu/wenpu1/js/jquery-ui-1.8.2.custom.min.js"></script>
  <script type="text/javascript" src="http://magma.cs.uiuc.edu/wenpu1/js/jquery.ui.chatbox.js"></script>
  <script src="{{ url_for('static', filename='js/chatbox.js')}}"></script>

  
  
</body>
</html>