<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="http://usrz.github.io/bootstrap-languages/languages.min.css"/>
  
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  
    
    
  <link href="https://maxfavilli.com/managed/tagmanager.css" rel="stylesheet" />
  <script src="https://maxfavilli.com/managed/tagmanager.js"></script>
  
    <link href="{{ url_for('static', filename='style/style.css')}}" rel='stylesheet' type='text/css'>
	
	  <link href="{{ url_for('static', filename='style/mentors.css')}}" rel='stylesheet' type='text/css'>
  
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Dots - Mentors Homepage</title>
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        
        <img src="{{ url_for('static', filename='img/logo.png')}}" width="101px" class="logo">
        
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
		
         <li> 
  	   <p style="margin-right: 20px;"> Welcome back Dr Patricia Wilkie &nbsp;
	   <img src="http://nhsnavigationhack.co.uk/wp-content/uploads/2015/12/Dr-Patricia-Wilkie-202x303-1.jpg" width="40px" style="border-radius: 200px;">
	   </p>
  	  </li>
		
         <li class="dropdown">
          
                          <div class="btn-group dropdown">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="lang-sm lang-lbl-full" lang="en"></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><span class="lang-sm lang-lbl-full" lang="ar"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="be"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="bg"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="cs"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="da"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="de"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="el"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="en"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="es"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="et"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="fi"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="fr"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="ga"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="hi"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="hr"></span></li>
  </ul>
                            
        </li>
           
        <li>
         <button type="button" class="navLogin btn btn-default">
              LOGOUT
            </button>          
        </li>  
        
       
      </ul>
      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
  

  
  
<div class="jumbotron">
  
  <div class="container">

          <!-- Search bar -->
  <div class='col-md-12' style="margin-top: 30px;">
        <div class="row">
     
       
    <div class="input-group">
      <!--<span class='glyphicon glyphicon-search'></span>-->
      <input type="text" class="form-control" placeholder=" Search for any question, topic or category">
  

  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
      </div>
    </div>
  </div>

  <!-- Topics --> 
<div class="container openQuestions">
    <div class="row">

     
       <!-- Topics -->
      <div class="col-md-8 header">
        
        <h1>Open Questions</h1>  
          <h3><a>Your Answers</a></h3>
          
          
       <form class="form-inline" style="clear: left;">
    <input type="text" autocomplete="off" name="tags" placeholder="Tags" style="width:9em;" class="input-medium tm-input tm-input-warning tm-input-01" data-original-title="" />
  </form>
         
      
        
  <div class="row col-md-12">
    
    <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <tbody>
                                <tr>
                                <td>
                                <h3>
                                  <a>Does someone know a phone company that gives me good rates to call my family in Afghanistan?</a>
                                </h3>                                       
                                </td>
                                </tr>
                              
                                <tr>
                                <td>
                                <h3>
                                  <a>What is proof of address?</a>
                                </h3>                                       
                                </td>
                                </tr>
                              
                                <tr>
                                <td>
                                <h3>
                                  <a>Are all museums free in the UK?</a>
                                </h3>                                       
                                </td>
                                </tr>
                              
                              
                              <tr>
                                <td>
                                <h3>
                                  <a>What does GP stand for?</a>
                                </h3>                                       
                                </td>
                                </tr>
                              
                              <tr>
                                <td>
                                <h3>
                                  <a>How do people celebrate Easter in England?</a>
                                </h3>                                       
                                </td>
                                </tr>
                              
                              <tr>
                                <td>
                                <h3>
                                  <a>How the mental health problems are treated in UK?</a>
                                </h3>                                       
                                </td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
  </div><!-- ./table -->
        
</div>
     
      
  <!-- Identify mentor (by language with flag) -->
      <div class="col-md-4">
          <h1 style="margin-bottom: 50px;">Open Chats</h1>
        <div class="chat">
        <p><b>Johanna (Austria)</b><br>Hallo Christian, nächsten Monat ziehe ich nach London, kann mir jemand Tipps zur Wohunungssuche geben?</p>
        </div> 
        <div class="chat">
        <p><b>Nick (Greece)</b><br>Καλημέρα Μαρία, πρέπει να πάω στον οδοντίατρο αλλά δεν μιλάω Αγγλικά. Τι μπορώ να κάνω;</p>
        </div>
        <div class="chat">
        <p><b>Aamir (Afghanistan)</b><br>Hi Iman, my daughter needs to see a pediatrician. Can you give me some tips on how I can get access to healthcare?</p>
        </div>
                  
      </div> </div> </div>
  <!-- Become a mentor -->



  <!--footer-->
    <div class="container-fluid footer">
      <div class="row">
            <div class="col-md-4">
              <h2>Friendly links</h2>
              <p><a>The bike project</a><br />
                <a>Refugee Action</a><br />
                <a>Webhosting discounts</a><br />
                <a>Free online univercity for refugees</a><br />
              </p>
            </div>
            <div class="col-md-4">
              <h2>Supported by</h2>
              <p>
                <a><img src="{{ url_for('static', filename='img/nhs.png')}}" /></a><br />
    <a><img src="{{ url_for('static', filename='img/patas.png')}}" /></a><br />
      <a><img src="{{ url_for('static', filename='img/healthdep.png')}}" /></a><br />
              </p>
            </div>
            <div class="col-md-4">
              <h2>Social</h2>
              <p><a>Follow us on twitter</a><br />
                <a>Find us on facebook</a><br />
              </p>
            </div>
          </div>
    </div>  
    <!--footer ends-->
  
  <script>
    
    jQuery(".tm-input.tm-input-01").tagsManager({
    prefilled: ["Healthcare", "Mental Health","Healthy Lifestyle","Events","Social"],
    blinkBGColor_1: '#FFFF9C',
    blinkBGColor_2: '#CDE69C'//,
  });

  </script>
  
</body>
</html>