<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="http://usrz.github.io/bootstrap-languages/languages.min.css"/>
  
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  
    
  <link href="https://maxfavilli.com/managed/tagmanager.css" rel="stylesheet" />
  <link href="{{ url_for('static', filename='style/style.css')}}" rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='style/question.css')}}" rel='stylesheet' type='text/css'>
	  
  
  <script src="https://maxfavilli.com/managed/tagmanager.js"></script>
  
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Dots - Questions</title>
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        
        <img src="{{ url_for('static', filename='img/logo.png')}}" width="101px" class="logo">
        
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
         <li class="dropdown">
          
                          <div class="btn-group dropdown">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="lang-sm lang-lbl-full" lang="en"></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><span class="lang-sm lang-lbl-full" lang="ar"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="be"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="bg"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="cs"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="da"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="de"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="el"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="en"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="es"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="et"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="fi"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="fr"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="ga"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="hi"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="hr"></span></li>
  </ul>
                            
        </li>
           
        
        <li>
          
          
              <button type="button" class="navMentor btn btn-default">
              BECOME A MENTOR
            </button>
          
        </li>
        <li>
         <button type="button" class="navLogin btn btn-default">
              LOGIN
            </button>          
        </li>  
        
       
      </ul>
      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
  

  
  
<div class="jumbotron">
  
  <div class="container">

          <!-- Search bar -->
  <div class='col-md-12' style="margin-top: 30px;">
        <div class="row">
     
       
    <div class="input-group">
      <!--<span class='glyphicon glyphicon-search'></span>-->
      <input type="text" class="form-control" placeholder=" Search for any question, topic or category">
  

  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
    

      </div>
    </div>
    
  </div>

  <!-- Topics --> 
<div class="container openQuestions">
    <div class="row">

     
       <!-- Topics -->
      <div class="col-md-8 header">
        
     
          <h3><a>How healthcare works</a></h3>
          <h1 style="line-height: 50px;"> <span class="label label-success" style="font-size: 20px; opacity:.6">71</span> &nbsp; What does GP stand for?</h1>
          
   
         
      
        
  <div class="row col-md-12">
    
    <div class="jumbotron">
     <br>
      GP stands for General Practisioner and is the doctor that you will register with. GPs usually work in practices as part of a team, which includes nurses, healthcare assistants, practice managers, receptionists and other staff. You have the legal right to choose a GP practice that best suits your needs. GPs deal with a whole range of health problems. They also provide health education, offer advice on smoking and diet, run clinics, give vaccinations and carry out simple surgical operations. If your GP cannot deal with a problem, then you’ll usually be referred to a hospital for tests, treatment, or to see a consultant with specialist knowledge.
   <br><br>
      <b><p> by   <i>Caleb Sanchez</i></b> <span class="label label-success">online</span></p> 
      
    
    <button class="btn btn-success">THIS ANSWER WAS USEFUL</button>
    <button class="btn btn-warning">PROVIDE YOUR OWN ANSWER</button>
    
    
    <hr>
    
<textarea rows="4" cols="50" placeholder="type your comment in here" style="width: 100%"></textarea>
 
</textarea>
        
        <br>
            <button class="btn btn-warning">REPLY</button>
        
    
    </div>
  </div><!-- ./table -->
        
</div>
     
      
  <!-- Identify mentor (by language with flag) -->
  
  
  
  
  
  
  
  
          <div class="col-md-4 mentors">
          <h1>Mentors in topic</h1>
          
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <tbody>
                                  <tr>
                                      <td>
                                        <div>
                                          <img src="http://www.nesta.org.uk/sites/default/files/glen.jpeg" width="15px">
                                          <span class="lang-sm" lang="es"></span></div>
                                      </td>
                                      <td>
                                        <a><h3 href="#" class="user-link">Caleb Sanchez</h3></a>
                                        <p>Spain, Taxes, Healthcare, Driving</p>
                                      </td>
                                  </tr>
                              

                                <tr>
                                      <td>
                                        <div>
                                          <img src="http://nhsnavigationhack.co.uk/wp-content/uploads/2015/12/kunle1-1.png" alt="">
                                          <span class="lang-sm" lang="en"></span></div>
                                      </td>
                                      <td>
                                        <a><h3 href="#" class="user-link">Zach Jones</h3></a>
                                        <p>USA, NHS, Technology</p>
                                      </td>
                                  </tr>
     
                                
                              
                              
                              
                            </tbody>
                        </table>
                      
                      <!-- Open Chats -->
                        <h1>Related Questions</h1>
        <div class="chat">
      <table class="table user-list">
                            <tbody>
                                <tr>
                                  <td>
                                  <h4> <a> How I can see the specialist?</a> </h4>
                                  </td>
                                </tr>
          
                             <td>
                              <h4><a href="">What does proof of address mean?</a></h4>
                              </td>
                                    
                                </tr>
                              
                              
                              
                            </tbody>
                        </table>
                    <!-- Open Chats -->
          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
  
</div>  
  
  
  

        
  <!-- Become a mentor -->



  <!--footer-->
    <div class="container-fluid footer">
      <div class="row">
            <div class="col-md-4">
              <h2>Friendly links</h2>
              <p><a>The bike project</a><br />
                <a>Refugee Action</a><br />
                <a>Webhosting discounts</a><br />
                <a>Free online univercity for refugees</a><br />
              </p>
            </div>
            <div class="col-md-4">
              <h2>Supported by</h2>
              <p>
                <a><img src="{{ url_for('static', filename='img/nhs.png')}}" /></a><br />
    <a><img src="{{ url_for('static', filename='img/patas.png')}}" /></a><br />
      <a><img src="{{ url_for('static', filename='img/healthdep.png')}}" /></a><br />
              </p>
            </div>
            <div class="col-md-4">
              <h2>Social</h2>
              <p><a>Follow us on twitter</a><br />
                <a>Find us on facebook</a><br />
              </p>
            </div>
          </div>
    </div>  
    <!--footer ends-->
  
  
  
  <script>
    
    jQuery(".tm-input.tm-input-01").tagsManager({
    prefilled: ["Healthcare", "Mental Health","Healthy Lifestyle"],
    blinkBGColor_1: '#FFFF9C',
    blinkBGColor_2: '#CDE69C'//,
  });

  </script>
  
</body>
</html>