<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="http://usrz.github.io/bootstrap-languages/languages.min.css"/>
  
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  
    
    
  <link href="https://maxfavilli.com/managed/tagmanager.css" rel="stylesheet" />
  <script src="https://maxfavilli.com/managed/tagmanager.js"></script>
  
  <link href="{{ url_for('static', filename='style/style.css')}}" rel='stylesheet' type='text/css'>
  
  <link href="{{ url_for('static', filename='style/topic.css')}}" rel='stylesheet' type='text/css'>
  
  
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Dots - Topics</title>
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        
        <img src="{{ url_for('static', filename='img/logo.png')}}" width="101px" class="logo">
        
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
         <li class="dropdown">
          
                          <div class="btn-group dropdown">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="lang-sm lang-lbl-full" lang="en"></span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><span class="lang-sm lang-lbl-full" lang="ar"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="be"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="bg"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="cs"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="da"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="de"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="el"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="en"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="es"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="et"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="fi"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="fr"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="ga"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="hi"></span></li>
    <li><span class="lang-sm lang-lbl-full" lang="hr"></span></li>
  </ul>
                            
        </li>
           
        
        <li>
          
          
              <button type="button" class="navMentor btn btn-default">
              BECOME A MENTOR
            </button>
          
        </li>
        <li>
         <button type="button" class="navLogin btn btn-default">
              LOGIN
            </button>          
        </li>  
        
       
      </ul>
      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
  

  
  
<div class="jumbotron">
  
  <div class="container">

          <!-- Search bar -->
  <div class='col-md-12' style="margin-top: 30px;">
        <div class="row">
     
       
    <div class="input-group">
      <!--<span class='glyphicon glyphicon-search'></span>-->
      <input type="text" class="form-control" placeholder=" Search for any question, topic or category">
  

  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
    

      </div>
    </div>
    
  </div>

  <!-- Topics --> 
<div class="container">
    <div class="row">

     
       <!-- Topics -->
      <div class="col-md-8 header">
        
     
          <h1> Browse Questions</h1>
        
         <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <tbody>
                                <tr>
                                    <td>
                                      <div>
                                       <h1><span class="label label-success" style="margin-left: 20px;font-size: 20px; opacity:.6">71</span></h1>
                                    </td>
                                    <td>
                                      <a><h3 href="#" class="user-link">I'm moving to London next month, can someone give me tips on areas to live in?</h3></a>
                                      <b><p> by<i>&nbsp;Caleb Sanchez&nbsp;</i></b> <span class="label label-success">online</span></p> 
                                    </td>
                                </tr>
                              
                                                               <tr>
                                    <td>
                                      <div>
                                       <h1><span class="label label-success" style="margin-left: 20px;font-size: 20px; opacity:.6">12</span></h1>
                                    </td>
                                    <td>
                                      <a><h3 href="#" class="user-link">What do I do in an emergency?</h3></a>
                                      <b><p> by<i>&nbsp;Cynthia Chavez&nbsp;</i></b> <span class="label label-success">online</span></p> 
                                    </td>
                                </tr>
                              
                                <tr>
                                    <td>
                                      <div>
                                       <h1><span class="label label-success" style="margin-left: 20px;font-size: 20px; opacity:.6">18</span></h1>
                                    </td>
                                    <td>
                                      <a><h3 href="#" class="user-link">Does someone know a good shop with cheep second-hand bikes in North London?</h3></a>
                                      <b><p> by<i>&nbsp;Caleb Sanchez&nbsp;</i></b> <span class="label label-success">online</span></p> 
                                    </td>
                                </tr>
                                                              <tr>
                                    <td>
                                      <div>
                                       <h1><span class="label label-success" style="margin-left: 20px;font-size: 20px; opacity:.6">23</span></h1>
                                    </td>
                                    <td>
                                      <a><h3 href="#" class="user-link">Is there an English language conversation meetup in my area?</h3></a>
                                      <b><p> by<i>&nbsp;Caleb Sanchez&nbsp;</i></b> <span class="label label-success">online</span></p> 
                                    </td>
                                </tr>
  
                                  <tr>
                                    <td>
                                      <div>
                                       <h1><span class="label label-success" style="margin-left: 20px;font-size: 20px; opacity:.6">8</span></h1>
                                    </td>
                                    <td>
                                      <a><h3 href="#" class="user-link">Who is GP and why i need to register with GP first</h3></a>
                                      <b><p> by<i>&nbsp;Caleb Sanchez&nbsp;</i></b> <span class="label label-success">online</span></p> 
                                    </td>
                                </tr>
                              
                                                               <tr>
                                    <td>
                                      <div>
                                       <h1><span class="label label-success" style="margin-left: 20px;font-size: 20px; opacity:.6">11</span></h1>
                                    </td>
                                    <td>
                                      <a><h3 href="#" class="user-link">Do I need a prescription for paracetamol?</h3></a>
                                      <b><p> by<i>&nbsp;Cynthia Chavez&nbsp;</i></b> <span class="label label-success">online</span></p> 
                                    </td>
                                </tr>
                              
                                <tr>
                                    <td>
                                      <div>
                                       <h1><span class="label label-success" style="margin-left: 20px;font-size: 20px; opacity:.6">10</span></h1>
                                    </td>
                                    <td>
                                      <a><h3 href="#" class="user-link">Who is GP and why i need to register with GP first</h3></a>
                                      <b><p> by<i>&nbsp;Caleb Sanchez&nbsp;</i></b> <span class="label label-success">online</span></p> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <div>
                                       <h1><span class="label label-success" style="margin-left: 20px;font-size: 20px; opacity:.6">12</span></h1>
                                    </td>
                                    <td>
                                      <a><h3 href="#" class="user-link">Is Boots a pharmacy?</h3></a>
                                      <b><p> by<i>&nbsp;Caleb Sanchez&nbsp;</i></b> <span class="label label-success">online</span></p> 
                                    </td>
								</tr>
								<tr>										
                                    <td>
                                      <div>
                                       <h1><span class="label label-success" style="margin-left: 20px;font-size: 20px; opacity:.6">13</span></h1>
                                    </td>
                                    <td>
                                      <a><h3 href="#" class="user-link">I want to go hiking somewhere not too far from London, any tips?</h3></a>
                                      <b><p> by<i>&nbsp;Caleb Sanchez&nbsp;</i></b> <span class="label label-success">online</span></p> 
                                    </td>
								</tr>
								<tr>	
                                    <td>
                                      <div>
                                       <h1><span class="label label-success" style="margin-left: 20px;font-size: 20px; opacity:.6">41</span></h1>
                                    </td>
                                    <td>
                                      <a><h3 href="#" class="user-link">What is an alcohol unit? Is it important?</h3></a>
                                      <b><p> by<i>&nbsp;Caleb Sanchez&nbsp;</i></b> <span class="label label-success">online</span></p> 
                                    </td>
									
									
									
									
                                </tr>
                              

                              
                              
                              
                            </tbody>
                        </table>


<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

                    </div>
                </div>
            </div>
        </div>



	     <!-- Identify mentor (by language with flag) -->
	           <div class="col-md-4 mentors">
	             <h1>Mentors Online</h1>
          
	               <div class="main-box no-header clearfix">
	                   <div class="main-box-body clearfix">
	                       <div class="table-responsive">
	                           <table class="table user-list">
	                               <tbody>
	                                   <tr>
	                                       <td>
	                                         <div>
	                                           <img src="http://www.nesta.org.uk/sites/default/files/glen.jpeg" width="15px">
	                                           <span class="lang-sm" lang="es"></span></div>
	                                       </td>
	                                       <td>
	                                         <a id="caleb_sanchez"><h3 href="#" class="user-link">Caleb Sanchez</h3></a>
	                                         <p>Spain, Taxes, Healthcare, Driving</p>
	                                       </td>
	                                   </tr>
                              
	                                   <tr>
	                                       <td>
	                                         <div>
	                                           <img src="http://nhsnavigationhack.co.uk/wp-content/uploads/2015/12/Sarah-Cowley1.jpg" alt="">
	                                           <span class="lang-sm" lang="fr"></span></div>
	                                       </td>
	                                       <td>
										
						
										
	                                         <a id="korinn_pinakoulaki"><h3 href="#" class="user-link">Korinna Pinakoulaki</h3></a>
	                                         <p>French, English, Getting around, Self-employment</p>
	                                       </td>
	                                   </tr>
                              
	                                 <tr>
	                                       <td>
	                                         <div>
	                                           <img src="http://nhsnavigationhack.co.uk/wp-content/uploads/2015/12/Eraaj.jpg" alt="">
	                                           <span class="lang-sm" lang="ga"></span></div>
	                                       </td>
	                                       <td>
										
					
										
	                                         <a id="musa_ahmad_urdu"><h3 href="#" class="user-link">Musa Ahmad</h3></a>
	                                         <p>Irish, English, Immigration, Finance</p>
	                                       </td>
	                                   </tr>
	                                 <tr>
	                                       <td>
	                                         <div>
	                                           <img src="http://nhsnavigationhack.co.uk/wp-content/uploads/2015/12/kunle1-1.png" alt="">
	                                           <span class="lang-sm" lang="uk"></span></div>
	                                       </td>
	                                       <td>
										
	                                         <a id="zach_jones"><h3 href="#" class="user-link">Zach Jones</h3></a>
	                                         <p>USA, NHS, Technology</p>
	                                       </td>
	                                   </tr>
	                                   <tr>
	                                         <td>
	                                           <div>
	                                             <img src="http://nhsnavigationhack.co.uk/wp-content/uploads/2015/12/Dr-Patricia-Wilkie-202x303-1.jpg" alt="">
	                                             <span class="lang-sm" lang="en"></span></div>
	                                         </td>
	                                         <td>
	                                           <a><h3 href="#" class="user-link">Anna Adams</h3></a>
	                                           <p>Ukraine, Belarus, Schools, Education</p>
	                                         </td>
	                                     </tr>
                              
                              
                              
	                               </tbody>
	                           </table>
	                       </div>
	                   </div>
	               </div>
	           </div>
	       </div>
	   </div>
       
      

  <!--footer-->
    <div class="container-fluid footer">
      <div class="row">
            <div class="col-md-4">
              <h2>Friendly links</h2>
              <p><a>The bike project</a><br />
                <a>Refugee Action</a><br />
                <a>Webhosting discounts</a><br />
                <a>Free online univercity for refugees</a><br />
              </p>
            </div>
            <div class="col-md-4">
              <h2>Supported by</h2>
              <p>
                <a><img src="{{ url_for('static', filename='img/nhs.png')}}" /></a><br />
    <a><img src="{{ url_for('static', filename='img/patas.png')}}" /></a><br />
      <a><img src="{{ url_for('static', filename='img/healthdep.png')}}" /></a><br />
              </p>
            </div>
            <div class="col-md-4">
              <h2>Social</h2>
              <p><a>Follow us on twitter</a><br />
                <a>Find us on facebook</a><br />
              </p>
            </div>
          </div>
    </div>  
    <!--footer ends-->


  
  <script>
    
    jQuery(".tm-input.tm-input-01").tagsManager({
    prefilled: ["Healthcare", "Mental Health","Healthy Lifestyle"],
    blinkBGColor_1: '#FFFF9C',
    blinkBGColor_2: '#CDE69C'//,
  });

  </script>
  
</body>
</html>